apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-argocd
  namespace: argocd
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default

  source:
    repoURL: https://github.com/tlarbals824/infrastructure.git
    targetRevision: main
    path: k8s/infra/argocd

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-cert-manager
  namespace: argocd
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default

  source:
    repoURL: https://charts.jetstack.io
    chart: cert-manager
    targetRevision: v1.17.2
    helm:
      values: |
        crds:
          enabled: true

  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-cert-manager-issuers
  namespace: argocd
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default

  source:
    repoURL: https://github.com/tlarbals824/infrastructure.git
    targetRevision: main
    path: k8s/infra/cert-manager

  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress-nginx
  namespace: argocd
  finalizers:
    - argoproj.io/resources-finalizer
spec:
  project: default

  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.12.2
    helm:
      values: |
        controller:
          service:
            annotations:
              oci.oraclecloud.com/load-balancer-type: "nlb"
              oci.oraclecloud.com/oci-network-load-balancer-reserved-public-ip: "ocid1.publicip.oc1.ap-chuncheon-1.amaaaaaa3eqs7oyaiinxz7hvq2ngl4ysdkufxdu3lo4d5conwfqmzzm5auoq"

  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
