name: Terraform Apply

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'

env:
  TF_VAR_tenancy_ocid: ${{ secrets.OCI_CLI_TENANCY }}
  TF_VAR_user_ocid: ${{ secrets.OCI_CLI_USER }}
  TF_VAR_fingerprint: ${{ secrets.OCI_CLI_FINGERPRINT }}
  TF_VAR_private_key: ${{ secrets.OCI_CLI_KEY_CONTENT }}
  TF_VAR_compartment_ocid: ${{ secrets.OCI_COMPARTMENT_OCID }}
  AWS_ACCESS_KEY_ID: ${{ secrets.OCI_S3_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.OCI_S3_SECRET_KEY }}

jobs:
  apply:
    name: Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.10.3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
